<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>CMS</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Painel de Edição</h1>

  <form action="/salvar" method="POST">
    <label>Título:</label>
    <input type="text" name="titulo" value="<%= dados.titulo %>"/>

    <label>Descrição:</label>
    <textarea name="descricao"><%= dados.descricao %></textarea>

    <button type="submit">Salvar</button>
  </form>

  <a href="/">Voltar para o site</a>
</body>
</html>
