<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title><%= dados.titulo %></title>
</head>
<body>
  <h1><%= dados.titulo %></h1>
  <p><%= dados.descricao %></p>
  <a href="/admin">Painel de edição</a>
</body>
</html>
